<div class="" data-role="page" data-theme="b" id="contact-form">
	<div class="" data-role="header">
		<h3><%= t("contact.us")%></h3>
	</div>
	<div class="" data-role="content">
		<h5><%= t("contact.please_fillin")%></h5>

		<%= form_for(@contact, :url => {:action => "smart_create" ,:locale => I18n.locale}, :remote => true, :html => { :method => :post, :class => "contact_form", :data => {:ajax => "false" }}) do |f| %>
		<%= f.hidden_field :contact_type %>
		<%= f.label :user_name, t("contact.user_name"), :class => "" %><i class="icon-user"></i>
		<%= f.text_field :user_name, :class => "" %>
		<%= f.label :email, t("contact.email"), :class => "" %><i class="icon-envelope"></i><span class=""> <%= t("contact.check_email_b4_send")%> </span>
		<%= f.email_field :email, :class => "" %>
		<%= f.label :phone, t("contact.phone"), :class => "" %><i class="icon-phone"></i>
		<%= f.telephone_field :phone, :class => "" %>
		<%= f.label :business_name, t("contact.business_name"), :class => "" %><i class="icon-building"></i>
		<%= f.text_field :business_name, :class => "" %>
		<%= f.label :body, t("contact.content"), :class => "" %><span class=""> <%= t("contact.describe_detail")%> </span>
		<%= f.text_area :body, :rows => "10", :class => "" %>

		<%= f.submit t("contact.submit"), :class => "", :id => "contact-submit-confirm", :data => { :confirm => t('contact.confirm_submit')} %>
		<!-- %= f.submit t("contact.submit"), :class => "button", :id => "contact-submit-confirm" %
		<%= _mobile_tap("contact-submit-confirm",%Q|
		$("\#popupDialog").popup('open',{ corners: true, transition: 'slidedown' });
		return false;
		|)%>
		-->
		<!--
		<div data-role="popup" id="popupDialog">
			<div class="" data-role="header">
				<h3><%= t("contact.confirm")%></h3>
			</div>
			<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
			<div class="" data-role="content">
				<p>
					<%= t('contact.confirm_submit')%>
				<p>
					<a href="#" data-corners="true" data-role="button" data-shadow="true" data-iconshadow="true" id="contact-submit"><%= t("contact.submit")%></a>
					<%= _mobile_tap("contact-submit",%Q|
					$.mobile.loading( 'show', {
					text: '#{t("loading")}',
					textVisible: true,
					theme: 'c',
					html: ""
					});
					$('.contact_form').submit();
					$("\#popupDialog").popup('close');
					return false;
					|)%>
			</div>
		</div>
		-->
			<% end %>
		<div data-role="popup" id="popup-notice">
			<div class="" data-role="header">
				<h3 class="popup-notice-header"></h3>
			</div>
			<a href="#" data-rel="back" data-role="button" data-theme="a" data-icon="delete" data-iconpos="notext" class="ui-btn-right">Close</a>
			<div class="popup-notice-content" data-role="content"></div>
		</div>
	</div>


	<div data-role="footer">
		<a href="<%= smart_path%>"data-role="button"><%= t("op.back")%></a>
	</div>

</div>

