<!-- Top -->
<% locale = I18n.locale.to_sym%>

<% if @space.present? %>
<div class="main box_round">
	<div class="alert alert-info">
		<h2 class="visible-desktop visible-tablet">&nbsp;<%= Style.get_flyer_text(I18n.locale)%></h2>
		<h4 class="visible-phone">&nbsp;<%= Style.get_flyer_text(I18n.locale)%></h4>
		<!-- %= image_tag(@space.image.last.original_image, :class => "image-resize140_120 page-header-img")% -->
	</div>

	<div class="container-fluid service-container">
		<div class="row-fluid">
			<div class="service-box">
				<% Style.get_services.each do |s| %>
				<% service = Style.get_service(locale, s)%>
				<div class="service box_round" id="service-<%= service[:id]%>" style="">
					<div class="service-view" id="service-view-<%= service[:id]%>">
						<h3 class="visible-desktop visible-tablet"><i class="<%= service[:icon]%>"></i>&nbsp;<%= service[:headline] %></h3>
						<h4 class="visible-phone"><i class="<%= service[:icon]%>"></i>&nbsp;<%= service[:headline] %></h4>
						<p class="visible-desktop visible-tablet lead">
							<%= service[:leadline] %>
						</p>
						<p class="visible-phone">
							<%= service[:leadline] %>
						</p>
						<%= _script(%Q|
						$('\#service-view-#{service[:id]}').click(function(){
							$('\#contact-form-#{service[:id]}').html('');
							$('\#service-content-#{service[:id]}').toggle('slow');
							$('\#service-desc-#{service[:id]}').attr('style','margin:auto;visibility:visible');
							$('\#service-content-#{service[:id]}').html('#{escape_javascript('<i class="icon-spinner icon-spin icon-3x"></i>')}');
							#{Ajax::post(%Q|services/view|,%Q|id : '#{service[:id]}', locale : '#{I18n.locale}'|)}
						});

						|)%>
					</div>
					<div class="service-content-<%= service[:id]%> box_round" id="service-desc-<%= service[:id]%>" style="visibility:hidden">
						<div class="service-content" id="service-content-<%= service[:id]%>" style="display:none"></div>
					</div>
				</div>
				<% end %>
			</div>
		</div>
	<div class="row-fluid">
		<div class="contact-form box_round" style="display:none">

		</div>

	</div>
	<div class="row-fluid">
		<div class="box_round about" style="display:none">
			<i class="icon-pushpin icon-4x pull-right wood-pushpin"></i>
			<%= link_to_with_icon("","#","pull-right","","icon-remove-circle icon-4x","close")%>
			<%= _script(%Q|
			$('\#close').click(function(){
			$('.about').fadeOut(2000);
			return false;
			});
			|)%>
			<%= raw(Cms.about(I18n.locale))%>
		</div>
	</div>
	</div>
</div>
<% end %>