<!DOCTYPE html>
<html>
<head>
  <title><%=@client.display_name%></title>
  <%= render :partial => "layouts/common/header" %>
</head>
<body>
<%= render :partial => "#{@client.namespace}/header" %>
<div class="container">
<%= yield %>
</div>
<%= render :partial => "#{@client.namespace}/footer" %>
</body>
</html>
