<!DOCTYPE html>
<html>
<head>
  <title><%=@client.display_name%></title>
  <%= render :partial => "layouts/common/header" %>
  <%= stylesheet_link_tag "jquery.mobile.theme-1.2.0.min", :media => "all" %>
  <%= stylesheet_link_tag "jquery.mobile.structure-1.2.0.min", :media => "all" %>
  <%= javascript_include_tag "jquery.mobile-1.2.0.min" %>
</head>
<body>
<%= yield %>
</body>
</html>
